@import "tailwindcss";

@font-face {
  font-family: "LeagueSpartan";
  src: url("/fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

body {
  font-family: "LeagueSpartan", sans-serif;
}

@theme {
  --color-teal-550: #5da5a4;
  --color-iceberg-50: #f0fbfb;
  --color-iceberg-100: #d8f3f3;
  --color-iceberg-200: #b8e8e9;
  --color-iceberg-300: #88d6d8;
  --color-iceberg-400: #50bbc0;
  --color-iceberg-500: #349fa6;
  --color-iceberg-600: #2e828c;
  --color-iceberg-700: #2b6973;
  --color-iceberg-800: #2b575f;
  --color-iceberg-900: #274a52;
  --color-iceberg-950: #153037;
}
